<a href="https://colab.research.google.com/github/stazam/M7DataSp---Advanced-data-science-techniques/blob/main/HocekyBetting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [185]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [186]:
from google.colab import files
uploaded = files.upload()

Saving hockey_datas.csv to hockey_datas (3).csv

In [187]:
df = pd.read_csv("hockey_datas.csv")

In [188]:
df.shape

(1396, 23)

In [189]:
df.head()

   Unnamed: 0     id  game_number  ... weakening_away faceoff_home faceoff_away
0           0  83430            1  ...         0.6667          0.0          0.0
1           1  83431            2  ...         0.5000          0.0          0.0
2           2  83432            3  ...         1.0000          0.0          0.0
3           3  83433            4  ...         0.8000          0.0          0.0
4           4  83434            5  ...         1.0000          0.0          0.0

[5 rows x 23 columns]

1. pridat stplpec result - HOTOVO
2. zmeit stlpec date na datetime premennu
3. upravit vsetky hodnoty v stlpcoch
4. pridat sltpce s  premennymi ktore mal ten typek
6. pozot na chybajuce pozorovania pri faceoff, places a skontorlovat aj dalsie a upravit a nahradit medianom alebo takym niecim
7. zistit unikatne hodnoty a podla toho to upravit

conceded = pocet inkasovanych golov

H2H v specifickej sezone a sucasne aj za celkove predchadzajuce obdobie

vitazstva celkovo za vsetky sezony, vitazstva celkovo za danu sezonu proti danemu superovi

urcite treba pridat aj priemrene buly protis uperovi, to je podstatne!!!!

In [190]:
def name_parser(x):

  x = x.lower()
  clubs = ['Poprad', 'Trenčín', 'Skalica', 'Košice', 'BANSKÁ BYSTRICA', 'Zvolen', 'Piešťany', 'Martin', 'Nitra', 'Žilina', 
           'Liptovský Mikuláš', 'Nové Zámky', 'Detva', 'Újbuda', 'Miskolc', 'Michalovce', 'Bratislava']

  clubs = [x.lower() for x in clubs]
  for club in clubs:
    if club in x:
      return club
  
  return 

df['home'] = df['home'].apply(name_parser)
df['away'] = df['away'].apply(name_parser)

In [191]:
#mozno by som este mohol pridat to, ze ked nie je domaci tym na domacom lade, tak ako sa to premietne do vysledku -- ale to sa stava v minime pripadov
import datetime

df['date'] = pd.to_datetime(df['date'],format = "%d/%m/%Y")

In [192]:
df.loc[df['score_home'] > df['score_away'], 'result'] = 'home'
df.loc[df['score_home'] < df['score_away'], 'result'] = 'away'
df.loc[df['win_periods_home'] + df['draw_periods'] + df['win_periods_away'] >= 4, 'result'] = 'draw'

In [193]:
def season(x):

  if x >= 83430 and x <= 83699:
    return "2015/2016"
  elif x >= 87717 and x <= 87986:
    return "2016/2017"
  elif x >= 96815 and x <= 97084:
    return "2017/2018"
  elif x >= 101458 and x <= 101787:
    return "2018/2019"
  else:
    return "2019/2020"

df['season'] = df['id'].apply(season)

In [194]:
df

      Unnamed: 0      id  game_number  ... faceoff_away result     season
0              0   83430            1  ...       0.0000   home  2015/2016
1              1   83431            2  ...       0.0000   home  2015/2016
2              2   83432            3  ...       0.0000   away  2015/2016
3              3   83433            4  ...       0.0000   draw  2015/2016
4              4   83434            5  ...       0.0000   home  2015/2016
...          ...     ...          ...  ...          ...    ...        ...
1391        1391  110103          358  ...       0.4426   away  2019/2020
1392        1392  110105          360  ...       0.4464   home  2019/2020
1393        1393  110106          361  ...       0.0000   draw  2019/2020
1394        1394  110107          362  ...       0.4107   home  2019/2020
1395        1395  110108          363  ...       0.0000   draw  2019/2020

[1396 rows x 25 columns]

In [195]:
df_home = df.copy()  
df_away = df.copy()

In [196]:
df_home.columns = df_home.columns.str.replace("home", "team")
df_home.columns = df_home.columns.str.replace("away", "opponent")
df_home = df_home.replace('home', 'win')
df_home = df_home.replace('away', 'lost')
df_home['h_a'] = 'home'

In [197]:
df_home

      Unnamed: 0      id  game_number  ... result     season   h_a
0              0   83430            1  ...    win  2015/2016  home
1              1   83431            2  ...    win  2015/2016  home
2              2   83432            3  ...   lost  2015/2016  home
3              3   83433            4  ...   draw  2015/2016  home
4              4   83434            5  ...    win  2015/2016  home
...          ...     ...          ...  ...    ...        ...   ...
1391        1391  110103          358  ...   lost  2019/2020  home
1392        1392  110105          360  ...    win  2019/2020  home
1393        1393  110106          361  ...   draw  2019/2020  home
1394        1394  110107          362  ...    win  2019/2020  home
1395        1395  110108          363  ...   draw  2019/2020  home

[1396 rows x 26 columns]

In [198]:
df_away.columns = df_away.columns.str.replace("away", "team")
df_away.columns = df_away.columns.str.replace("home", "opponent")
df_away = df_away.replace('away', 'win')
df_away = df_away.replace('home', 'lost')
df_away['h_a'] = 'away'

In [199]:
df_home.dtypes

Unnamed: 0                       int64
id                               int64
game_number                      int64
date                    datetime64[ns]
team                            object
opponent                        object
place                           object
viewers                          int64
win_periods_team                 int64
draw_periods                     int64
win_periods_opponent             int64
score_team                       int64
score_opponent                   int64
shots_team                     float64
shots_opponent                 float64
saves_team                     float64
saves_opponent                 float64
powerplay_team                 float64
powerplay_opponent             float64
weakening_team                 float64
weakening_opponent             float64
faceoff_team                   float64
faceoff_opponent               float64
result                          object
season                          object
h_a                             object
dtype: object

In [200]:
df_teams = pd.concat([df_home, df_away]).reset_index(drop=True)

In [201]:
 df_teams = df_teams.sort_values(['team', 'date']).reset_index(drop=True)

In [202]:
df_teams['win'] = 0
df_teams.loc[df_teams['result'] == 'win', 'win'] = 1
df_teams['draw'] = 0
df_teams.loc[df_teams['result'] == 'draw', 'draw'] = 1
df_teams['lost'] = 0
df_teams.loc[df_teams['result'] == 'lost', 'lost'] = 1

In [203]:
#groupby - zgrupovanie odpvedajucich si dat, rolling - beriem iba cast tych dat, na ktore beriem priemer, shift - posunutie tych hodnot v ramci tych zgrupovanych skupin
df_teams['win_R5'] = df_teams.groupby(['team', 'season'])['win'].rolling(5, min_periods=1).mean().values
df_teams['win_R5'] =df_teams.groupby(['team', 'season'])['win_R5'].shift(fill_value=0)

In [204]:
df_teams['draw_R5'] = df_teams.groupby(['team', 'season'])['draw'].rolling(5, min_periods=1).mean().values
df_teams['draw_R5'] =df_teams.groupby(['team', 'season'])['draw_R5'].shift(fill_value=0)

In [205]:
df_teams['lost_R5'] = df_teams.groupby(['team', 'season'])['lost'].rolling(5, min_periods=1).mean().values
df_teams['lost_R5'] =df_teams.groupby(['team', 'season'])['lost_R5'].shift(fill_value=0)

In [206]:
df_teams['scored_avg_R5'] = df_teams.groupby(['team', 'season'])['score_team'].rolling(5, min_periods=1).mean().values
df_teams['scored_avg_R5'] =df_teams.groupby(['team', 'season'])['scored_avg_R5'].shift(fill_value=0)

df_teams['conceded_avg_R5'] = df_teams.groupby(['team', 'season'])['score_opponent'].rolling(5, min_periods=1).mean().values
df_teams['conceded_avg_R5'] =df_teams.groupby(['team', 'season'])['conceded_avg_R5'].shift(fill_value=0)

In [207]:
df_teams['matchday'] = df_teams.groupby(['team', 'season']).cumcount()+1
df_teams['matchday_h_a'] = df_teams.groupby(['team', 'season', 'h_a']).cumcount() +1

In [208]:
df_teams['scored_cum'] = df_teams.groupby(['team', 'season'])['score_team'].cumsum()
df_teams['scored_cum_prev'] =df_teams.groupby(['team', 'season'])['scored_cum'].shift(fill_value=0)
df_teams['scored_cum_prev_avg'] = df_teams['scored_cum_prev'] / (df_teams['matchday']-1)

In [209]:
df_teams['conceded_cum'] = df_teams.groupby(['team', 'season'])['score_opponent'].cumsum()
df_teams['conceded_cum_prev'] =df_teams.groupby(['team', 'season'])['conceded_cum'].shift(fill_value=0)
df_teams['conceded_cum_prev_avg'] = df_teams['conceded_cum_prev'] / (df_teams['matchday']-1)

In [210]:
df_teams['H2H_W'] = df_teams.groupby(['team', 'opponent'])['win'].cumsum()
df_teams['H2H_W'] =df_teams.groupby(['team', 'opponent'])['H2H_W'].shift(fill_value=0)

In [211]:
df_teams['H2H_D'] = df_teams.groupby(['team', 'opponent'])['draw'].cumsum()
df_teams['H2H_D'] =df_teams.groupby(['team', 'opponent'])['H2H_D'].shift(fill_value=0)

In [212]:
df_teams['H2H_L'] = df_teams.groupby(['team', 'opponent'])['lost'].cumsum()
df_teams['H2H_L'] =df_teams.groupby(['team', 'opponent'])['H2H_L'].shift(fill_value=0)

In [213]:
df_teams[['H2H_W', 'H2H_D', 'H2H_L']] =df_teams[['H2H_W', 'H2H_D', 'H2H_L']].div(df_teams[['H2H_W', 'H2H_D', 'H2H_L']].sum(axis=1),axis=0).fillna(0)

In [214]:
df_teams

      Unnamed: 0      id  game_number  ...     H2H_W     H2H_D     H2H_L
0              4   83434            5  ...  0.000000  0.000000  0.000000
1              6   83436            7  ...  0.000000  0.000000  0.000000
2             13   83443           14  ...  0.000000  0.000000  0.000000
3             17   83447           18  ...  0.000000  0.000000  0.000000
4             22   83452           23  ...  0.000000  0.000000  0.000000
...          ...     ...          ...  ...       ...       ...       ...
2787        1057  101759          302  ...  0.500000  0.250000  0.250000
2788        1067  101769          312  ...  0.285714  0.047619  0.666667
2789        1068  101770          313  ...  0.466667  0.133333  0.400000
2790        1079  101781          324  ...  0.142857  0.285714  0.571429
2791        1081  101783          326  ...  0.380952  0.190476  0.428571

[2792 rows x 45 columns]

In [215]:
df_teams['Num_of_periods'] = df_teams[['win_periods_team','draw_periods','win_periods_opponent']].sum(axis = 1).values
df_teams['points'] = 0

df_teams.loc[ (df_teams['score_team'] > df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 3) ,'points'] = 3 
df_teams.loc[ (df_teams['score_team'] < df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 3) ,'points'] = 0 
df_teams.loc[ (df_teams['score_team'] > df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 4) ,'points'] = 2 
df_teams.loc[ (df_teams['score_team'] < df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 4) ,'points'] = 1

In [216]:
df_teams['points_cum'] = df_teams.groupby(['team', 'season'])['points'].cumsum()
df_teams['points_cum_prev'] =df_teams.groupby(['team', 'season'])['points_cum'].shift(fill_value=0)    
df_teams['points_cum_prev_avg'] = df_teams['points_cum_prev'] / (df_teams['matchday']-1)

In [217]:
 
df_teams['points_cum_h_a'] = df_teams.groupby(['team', 'season', 'h_a'])['points'].cumsum()
df_teams['points_cum_h_a_prev'] =df_teams.groupby(['team', 'season', 'h_a'])['points_cum_h_a'].shift(fill_value=0)
df_teams['points_cum_h_a_prev_avg'] = df_teams['points_cum_h_a_prev'] / (df_teams['matchday_h_a']-1)

In [218]:
df_teams

      Unnamed: 0      id  ...  points_cum_h_a_prev points_cum_h_a_prev_avg
0              4   83434  ...                    0                     NaN
1              6   83436  ...                    0                     NaN
2             13   83443  ...                    3                3.000000
3             17   83447  ...                    3                3.000000
4             22   83452  ...                    6                3.000000
...          ...     ...  ...                  ...                     ...
2787        1057  101759  ...                   31                1.240000
2788        1067  101769  ...                    9                0.360000
2789        1068  101770  ...                   34                1.307692
2790        1079  101781  ...                   37                1.370370
2791        1081  101783  ...                    9                0.346154

[2792 rows x 53 columns]

In [219]:
df['score'] = df['score_home'].astype(str) + "-" + df['score_away'].astype(str)
df['game'] = df['home'].astype(str) + "-" + df['away'].astype(str)

df_games = df[['date','game', 'score', 'season', 'id', 
                'home', 'away', 'score_home', 'score_away', 'result']]

In [220]:
df_teams = df_teams[['id', 'team', 'h_a', 
                     'win_R5', 'draw_R5', 'lost_R5',  
                     'H2H_W', 'H2H_D', 'H2H_L',
                    'scored_avg_R5', 'conceded_avg_R5',
                    'points_cum_prev_avg', 'points_cum_h_a_prev_avg']]
df_teams.head()

      id             team  ... points_cum_prev_avg  points_cum_h_a_prev_avg
0  83434  banská bystrica  ...                 NaN                      NaN
1  83436  banská bystrica  ...                 3.0                      NaN
2  83443  banská bystrica  ...                 3.0                      3.0
3  83447  banská bystrica  ...                 3.0                      3.0
4  83452  banská bystrica  ...                 2.5                      3.0

[5 rows x 13 columns]

In [221]:
df_home = df_teams[df_teams['h_a']=='home'].copy().drop(['team', 'h_a'], axis=1).add_suffix('_home').rename(columns={"id_home": "id"})
df_away = df_teams[df_teams['h_a']=='away'].copy().drop(['team', 'h_a'], axis=1).add_suffix('_away').rename(columns={"id_away": "id"})

In [222]:
df_games_trend = pd.merge(df_games, df_home, 
                   on='id', how='left')

df_games_trend = pd.merge(df_games_trend, df_away, 
                   on='id', how='left')

In [223]:
df_games_trend=df_games_trend.drop(['H2H_W_away', 'H2H_D_away', 'H2H_L_away'], axis=1)

df_games_trend=df_games_trend.rename(columns={"H2H_W_home": "H2H_W", "H2H_D_home": "H2H_D", "H2H_L_home": "H2H_L"})

In [224]:
df_model = df_games_trend[~df_games_trend.isnull().any(axis=1)].reset_index(drop=True)

df_2019 = df_model[df_model['season']=='2019/2020']
df_model = df_model[df_model['season']!='2019/2020'].reset_index(drop=True)

print("Data current season: " + str(df_2019.shape[0]))
print("Data for modeling: " + str(df_model.shape[0]))

Data current season: 295
Data for modeling: 1030

In [225]:
mapping = {'home': 0, 'draw': 1, 'away': 2}
df_model = df_model.replace({'result': mapping})

In [226]:
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          1030 non-null   datetime64[ns]
 1   game                          1030 non-null   object
 2   score                         1030 non-null   object
 3   season                        1030 non-null   object
 4   id                            1030 non-null   int64
 5   home                          1030 non-null   object
 6   away                          1030 non-null   object
 7   score_home                    1030 non-null   int64
 8   score_away                    1030 non-null   int64
 9   result                        1030 non-null   int64
 10  win_R5_home                   1030 non-null   float64
 11  draw_R5_home                  1030 non-null   float64
 12  lost_R5_home                  1030 non-null   float64
 13  H2H_W                         1030 non-null   float64
 14  H2H_D                         1030 non-null   float64
 15  H2H_L                         1030 non-null   float64
 16  scored_avg_R5_home            1030 non-null   float64
 17  conceded_avg_R5_home          1030 non-null   float64
 18  points_cum_prev_avg_home      1030 non-null   float64
 19  points_cum_h_a_prev_avg_home  1030 non-null   float64
 20  win_R5_away                   1030 non-null   float64
 21  draw_R5_away                  1030 non-null   float64
 22  lost_R5_away                  1030 non-null   float64
 23  scored_avg_R5_away            1030 non-null   float64
 24  conceded_avg_R5_away          1030 non-null   float64
 25  points_cum_prev_avg_away      1030 non-null   float64
 26  points_cum_h_a_prev_avg_away  1030 non-null   float64
dtypes: datetime64[ns](1), float64(17), int64(4), object(5)
memory usage: 217.4+ KB

In [233]:
X = df_model.iloc[:,10:].values
y = df_model.iloc[:,9].values
info = df_model.iloc[:,0:8].values

X_2019 = df_2019.iloc[:,10:].values
y_2019 = df_2019.iloc[:,9].values
info_2019 = df_2019.iloc[:,0:8].values

In [232]:
df_model.iloc[:10:]

        date  ... points_cum_h_a_prev_avg_away
0 2015-09-15  ...                     0.000000
1 2015-09-15  ...                     0.500000
2 2015-09-15  ...                     3.000000
3 2015-09-18  ...                     0.000000
4 2015-09-18  ...                     0.000000
5 2015-09-18  ...                     3.000000
6 2015-09-18  ...                     0.666667
7 2015-09-18  ...                     0.000000
8 2015-09-20  ...                     1.000000
9 2015-09-20  ...                     0.500000

[10 rows x 27 columns]

In [234]:
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test, info_train, info_test  = train_test_split(X, y, info, 
                                                                            test_size = 0.2, stratify = y, random_state = 21)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_2019 = scaler.transform(X_2019)

In [239]:
from sklearn.ensemble import RandomForestClassifier
import pickle

# Fitting Random Forest Classification to the Training set
rf = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 42)
rf.fit(X_train, y_train)

# save the model to disk
pickle.dump(rf, open("my_model.h5", 'wb'))

In [241]:
from sklearn.metrics import classification_report

y_pred_rf = rf.predict(X_test)
y_pred_rf_prob = rf.predict_proba(X_test)

print(classification_report(y_test, y_pred_rf))

              precision    recall  f1-score   support

           0       0.54      0.78      0.64       103
           1       0.25      0.05      0.08        41
           2       0.42      0.34      0.38        62

    accuracy                           0.50       206
   macro avg       0.40      0.39      0.36       206
weighted avg       0.45      0.50      0.45       206

In [243]:
y_pred2019_rf = rf.predict(X_2019)
y_pred2019_rf_prob = rf.predict_proba(X_2019)

df_2019 = pd.DataFrame(info_2019)

df_2019.columns = ['date', 'game', 'score', 'season', 'id', 'home', 'away','score_home']

# Set the outcome variables and probabilities
df_2019['actual'] = y_2019
df_2019['predicted'] = y_pred2019_rf
df_2019['prob_home'] = y_pred2019_rf_prob[:,0]
df_2019['prob_draw'] = y_pred2019_rf_prob[:,1]
df_2019['prob_away'] = y_pred2019_rf_prob[:,2]

# Map back sign outcome
mapping = {0:'home', 1:'draw', 2:'away'}
df_2019 = df_2019.replace({'actual': mapping, 'predicted': mapping})

df_2019['correct']=0
df_2019.loc[df_2019['actual']==df_2019['predicted'],'correct']=1

# Check mean values by sign
print("Correct ratio by prediction")
df_2019.groupby(['predicted'])['correct'].mean()

Correct ratio by prediction

predicted
away    0.500000
draw    0.157895
home    0.546392
Name: correct, dtype: float64