<a href="https://colab.research.google.com/github/stazam/M7DataSp---Advanced-data-science-techniques/blob/main/HocekyBetting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import files
uploaded = files.upload()

Saving hockey_datas.csv to hockey_datas.csv

In [3]:
df = pd.read_csv("hockey_datas.csv")

In [4]:
df.shape

(1396, 23)

In [5]:
df.head()

   Unnamed: 0     id  game_number  ... weakening_away faceoff_home faceoff_away
0           0  83430            1  ...         0.6667          0.0          0.0
1           1  83431            2  ...         0.5000          0.0          0.0
2           2  83432            3  ...         1.0000          0.0          0.0
3           3  83433            4  ...         0.8000          0.0          0.0
4           4  83434            5  ...         1.0000          0.0          0.0

[5 rows x 23 columns]

1. pridat stplpec result - HOTOVO
2. zmeit stlpec date na datetime premennu
3. upravit vsetky hodnoty v stlpcoch
4. pridat sltpce s  premennymi ktore mal ten typek
6. pozot na chybajuce pozorovania pri faceoff, places a skontorlovat aj dalsie a upravit a nahradit medianom alebo takym niecim
7. zistit unikatne hodnoty a podla toho to upravit

conceded = pocet inkasovanych golov

H2H v specifickej sezone a sucasne aj za celkove predchadzajuce obdobie

vitazstva celkovo za vsetky sezony, vitazstva celkovo za danu sezonu proti danemu superovi

In [6]:
def name_parser(x):

  x = x.lower()
  clubs = ['Poprad', 'Trenčín', 'Skalica', 'Košice', 'BANSKÁ BYSTRICA', 'Zvolen', 'Piešťany', 'Martin', 'Nitra', 'Žilina', 
           'Liptovský Mikuláš', 'Nové Zámky', 'Detva', 'Újbuda', 'Miskolc', 'Michalovce', 'Bratislava']

  clubs = [x.lower() for x in clubs]
  for club in clubs:
    if club in x:
      return club
  
  return 

df['home'] = df['home'].apply(name_parser)
df['away'] = df['away'].apply(name_parser)

In [7]:
#mozno by som este mohol pridat to, ze ked nie je domaci tym na domacom lade, tak ako sa to premietne do vysledku -- ale to sa stava v minime pripadov
import datetime

df['date'] = pd.to_datetime(df['date'],format = "%d/%m/%Y")

In [8]:
df.loc[df['score_home'] > df['score_away'], 'result'] = 'home'
df.loc[df['score_home'] < df['score_away'], 'result'] = 'away'
df.loc[df['win_periods_home'] + df['draw_periods'] + df['win_periods_away'] >= 4, 'result'] = 'draw'

In [9]:
def season(x):

  if x >= 83430 and x <= 83699:
    return "2015/2016"
  elif x >= 87717 and x <= 87986:
    return "2016/2017"
  elif x >= 96815 and x <= 97084:
    return "2017/2018"
  elif x >= 101458 and x <= 101787:
    return "2018/2019"
  else:
    return "2019/2020"

df['season'] = df['id'].apply(season)

In [10]:
df

      Unnamed: 0      id  game_number  ... faceoff_away result     season
0              0   83430            1  ...       0.0000   home  2015/2016
1              1   83431            2  ...       0.0000   home  2015/2016
2              2   83432            3  ...       0.0000   away  2015/2016
3              3   83433            4  ...       0.0000   draw  2015/2016
4              4   83434            5  ...       0.0000   home  2015/2016
...          ...     ...          ...  ...          ...    ...        ...
1391        1391  110103          358  ...       0.4426   away  2019/2020
1392        1392  110105          360  ...       0.4464   home  2019/2020
1393        1393  110106          361  ...       0.0000   draw  2019/2020
1394        1394  110107          362  ...       0.4107   home  2019/2020
1395        1395  110108          363  ...       0.0000   draw  2019/2020

[1396 rows x 25 columns]

In [11]:
df_home = df.copy()  
df_away = df.copy()

In [12]:
df_home.columns = df_home.columns.str.replace("home", "team")
df_home.columns = df_home.columns.str.replace("away", "opponent")
df_home = df_home.replace('home', 'win')
df_home = df_home.replace('away', 'lost')
df_home['h_a'] = 'home'

In [13]:
df_home

      Unnamed: 0      id  game_number  ... result     season   h_a
0              0   83430            1  ...    win  2015/2016  home
1              1   83431            2  ...    win  2015/2016  home
2              2   83432            3  ...   lost  2015/2016  home
3              3   83433            4  ...   draw  2015/2016  home
4              4   83434            5  ...    win  2015/2016  home
...          ...     ...          ...  ...    ...        ...   ...
1391        1391  110103          358  ...   lost  2019/2020  home
1392        1392  110105          360  ...    win  2019/2020  home
1393        1393  110106          361  ...   draw  2019/2020  home
1394        1394  110107          362  ...    win  2019/2020  home
1395        1395  110108          363  ...   draw  2019/2020  home

[1396 rows x 26 columns]

In [14]:
df_away.columns = df_away.columns.str.replace("away", "team")
df_away.columns = df_away.columns.str.replace("home", "opponent")
df_away = df_away.replace('away', 'win')
df_away = df_away.replace('home', 'lost')
df_away['h_a'] = 'away'

In [15]:
df_home.dtypes

Unnamed: 0                       int64
id                               int64
game_number                      int64
date                    datetime64[ns]
team                            object
opponent                        object
place                           object
viewers                          int64
win_periods_team                 int64
draw_periods                     int64
win_periods_opponent             int64
score_team                       int64
score_opponent                   int64
shots_team                     float64
shots_opponent                 float64
saves_team                     float64
saves_opponent                 float64
powerplay_team                 float64
powerplay_opponent             float64
weakening_team                 float64
weakening_opponent             float64
faceoff_team                   float64
faceoff_opponent               float64
result                          object
season                          object
h_a                             object
dtype: object

In [16]:
df_teams = pd.concat([df_home, df_away]).reset_index(drop=True)

In [17]:
 df_teams = df_teams.sort_values(['team', 'date']).reset_index(drop=True)

In [18]:
df_teams['win'] = 0
df_teams.loc[df_teams['result'] == 'win', 'win'] = 1
df_teams['draw'] = 0
df_teams.loc[df_teams['result'] == 'draw', 'draw'] = 1
df_teams['lost'] = 0
df_teams.loc[df_teams['result'] == 'lost', 'lost'] = 1

In [19]:
#groupby - zgrupovanie odpvedajucich si dat, rolling - beriem iba cast tych dat, na ktore beriem priemer, shift - posunutie tych hodnot v ramci tych zgrupovanych skupin
df_teams['win_R5'] = df_teams.groupby(['team', 'season'])['win'].rolling(5, min_periods=1).mean().values
df_teams['win_R5'] =df_teams.groupby(['team', 'season'])['win_R5'].shift(fill_value=0)

In [20]:
df_teams['draw_R5'] = df_teams.groupby(['team', 'season'])['draw'].rolling(5, min_periods=1).mean().values
df_teams['draw_R5'] =df_teams.groupby(['team', 'season'])['draw_R5'].shift(fill_value=0)

In [21]:
df_teams['lost_R5'] = df_teams.groupby(['team', 'season'])['lost'].rolling(5, min_periods=1).mean().values
df_teams['lost_R5'] =df_teams.groupby(['team', 'season'])['lost_R5'].shift(fill_value=0)

In [22]:
df_teams['scored_avg_R5'] = df_teams.groupby(['team', 'season'])['score_team'].rolling(5, min_periods=1).mean().values
df_teams['scored_avg_R5'] =df_teams.groupby(['team', 'season'])['scored_avg_R5'].shift(fill_value=0)

df_teams['conceded_avg_R5'] = df_teams.groupby(['team', 'season'])['score_opponent'].rolling(5, min_periods=1).mean().values
df_teams['conceded_avg_R5'] =df_teams.groupby(['team', 'season'])['conceded_avg_R5'].shift(fill_value=0)

In [23]:
df_teams['matchday'] = df_teams.groupby(['team', 'season']).cumcount()+1
df_teams['matchday_h_a'] = df_teams.groupby(['team', 'season', 'h_a']).cumcount() +1

In [24]:
df_teams['scored_cum'] = df_teams.groupby(['team', 'season'])['score_team'].cumsum()
df_teams['scored_cum_prev'] =df_teams.groupby(['team', 'season'])['scored_cum'].shift(fill_value=0)
df_teams['scored_cum_prev_avg'] = df_teams['scored_cum_prev'] / (df_teams['matchday']-1)

In [25]:
df_teams['conceded_cum'] = df_teams.groupby(['team', 'season'])['score_opponent'].cumsum()
df_teams['conceded_cum_prev'] =df_teams.groupby(['team', 'season'])['conceded_cum'].shift(fill_value=0)
df_teams['conceded_cum_prev_avg'] = df_teams['conceded_cum_prev'] / (df_teams['matchday']-1)

In [26]:
df_teams['H2H_W'] = df_teams.groupby(['team', 'opponent'])['win'].cumsum()
df_teams['H2H_W'] =df_teams.groupby(['team', 'opponent'])['H2H_W'].shift(fill_value=0)

In [27]:
df_teams['H2H_D'] = df_teams.groupby(['team', 'opponent'])['draw'].cumsum()
df_teams['H2H_D'] =df_teams.groupby(['team', 'opponent'])['H2H_D'].shift(fill_value=0)

In [28]:
df_teams['H2H_L'] = df_teams.groupby(['team', 'opponent'])['lost'].cumsum()
df_teams['H2H_L'] =df_teams.groupby(['team', 'opponent'])['H2H_L'].shift(fill_value=0)

In [29]:
df_teams[['H2H_W', 'H2H_D', 'H2H_L']] =df_teams[['H2H_W', 'H2H_D', 'H2H_L']].div(df_teams[['H2H_W', 'H2H_D', 'H2H_L']].sum(axis=1),axis=0).fillna(0)

In [30]:
df_teams

      Unnamed: 0      id  game_number  ...     H2H_W     H2H_D     H2H_L
0              4   83434            5  ...  0.000000  0.000000  0.000000
1              6   83436            7  ...  0.000000  0.000000  0.000000
2             13   83443           14  ...  0.000000  0.000000  0.000000
3             17   83447           18  ...  0.000000  0.000000  0.000000
4             22   83452           23  ...  0.000000  0.000000  0.000000
...          ...     ...          ...  ...       ...       ...       ...
2787        1057  101759          302  ...  0.500000  0.250000  0.250000
2788        1067  101769          312  ...  0.285714  0.047619  0.666667
2789        1068  101770          313  ...  0.466667  0.133333  0.400000
2790        1079  101781          324  ...  0.142857  0.285714  0.571429
2791        1081  101783          326  ...  0.380952  0.190476  0.428571

[2792 rows x 45 columns]

In [31]:
df_teams['Num_of_periods'] = df_teams[['win_periods_team','draw_periods','win_periods_opponent']].sum(axis = 1).values
df_teams['points'] = 0

df_teams.loc[ (df_teams['score_team'] > df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 3) ,'points'] = 3 
df_teams.loc[ (df_teams['score_team'] < df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 3) ,'points'] = 0 
df_teams.loc[ (df_teams['score_team'] > df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 4) ,'points'] = 2 
df_teams.loc[ (df_teams['score_team'] < df_teams['score_opponent']) & (df_teams['Num_of_periods'] == 4) ,'points'] = 1

In [32]:
df_teams

      Unnamed: 0      id  game_number  ...     H2H_L Num_of_periods points
0              4   83434            5  ...  0.000000              3      3
1              6   83436            7  ...  0.000000              3      3
2             13   83443           14  ...  0.000000              3      3
3             17   83447           18  ...  0.000000              4      1
4             22   83452           23  ...  0.000000              4      2
...          ...     ...          ...  ...       ...            ...    ...
2787        1057  101759          302  ...  0.250000              3      3
2788        1067  101769          312  ...  0.666667              3      0
2789        1068  101770          313  ...  0.400000              3      3
2790        1079  101781          324  ...  0.571429              3      0
2791        1081  101783          326  ...  0.428571              3      0

[2792 rows x 47 columns]

In [33]:
df_teams['points_cum'] = df_teams.groupby(['team', 'season'])['points'].cumsum()
df_teams['points_cum_prev'] =df_teams.groupby(['team', 'season'])['points_cum'].shift(fill_value=0)    
df_teams['points_cum_prev_avg'] = df_teams['points_cum_prev'] / (df_teams['matchday']-1)

In [34]:
 
df_teams['points_cum_h_a'] = df_teams.groupby(['team', 'season', 'h_a'])['points'].cumsum()
df_teams['points_cum_h_a_prev'] =df_teams.groupby(['team', 'season', 'h_a'])['points_cum_h_a'].shift(fill_value=0)
df_teams['points_cum_h_a_prev_avg'] = df_teams['points_cum_h_a_prev'] / (df_teams['matchday_h_a']-1)

In [35]:
df_teams

      Unnamed: 0      id  ...  points_cum_h_a_prev points_cum_h_a_prev_avg
0              4   83434  ...                    0                     NaN
1              6   83436  ...                    0                     NaN
2             13   83443  ...                    3                3.000000
3             17   83447  ...                    3                3.000000
4             22   83452  ...                    6                3.000000
...          ...     ...  ...                  ...                     ...
2787        1057  101759  ...                   31                1.240000
2788        1067  101769  ...                    9                0.360000
2789        1068  101770  ...                   34                1.307692
2790        1079  101781  ...                   37                1.370370
2791        1081  101783  ...                    9                0.346154

[2792 rows x 53 columns]