<a href="https://colab.research.google.com/github/stazam/M7DataSp---Advanced-data-science-techniques/blob/main/hockeyStatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import files
uploaded = files.upload()

Saving hockey_datas.csv to hockey_datas.csv

In [3]:
df = pd.read_csv("hockey_datas.csv")

In [4]:
df.shape

(1396, 23)

In [6]:
df.head()

   Unnamed: 0     id  game_number  ... weakening_away faceoff_home faceoff_away
0           0  83430            1  ...         0.6667          0.0          0.0
1           1  83431            2  ...         0.5000          0.0          0.0
2           2  83432            3  ...         1.0000          0.0          0.0
3           3  83433            4  ...         0.8000          0.0          0.0
4           4  83434            5  ...         1.0000          0.0          0.0

[5 rows x 23 columns]

1. pridat stplpec result - HOTOVO
2. zmeit stlpec date na datetime premennu
3. upravit vsetky hodnoty v stlpcoch
4. pridat sltpce s  premennymi ktore mal ten typek
6. pozot na chybajuce pozorovania pri faceoff, places a skontorlovat aj dalsie a upravit a nahradit medianom alebo takym niecim
7. zistit unikatne hodnoty a podla toho to upravit

conceded = pocet inkasovanych golov

H2H v specifickej sezone a sucasne aj za celkove predchadzajuce obdobie

vitazstva celkovo za vsetky sezony, vitazstva celkovo za danu sezonu proti danemu superovi

In [ ]:
def name_parser(x):

  x = x.lower()
  clubs = ['Poprad', 'Trenčín', 'Skalica', 'Košice', 'BANSKÁ BYSTRICA', 'Zvolen', 'Piešťany', 'Martin', 'Nitra', 'Žilina', 
           'Liptovský Mikuláš', 'Nové Zámky', 'Detva', 'Újbuda', 'Miskolc', 'Michalovce', 'Bratislava']

  clubs = [x.lower() for x in clubs]
  for club in clubs:
    if club in x:
      return club
  
  return 

df['home'] = df['home'].apply(name_parser)
df['away'] = df['away'].apply(name_parser)

In [29]:
#mozno by som este mohol pridat to, ze ked nie je domaci tym na domacom lade, tak ako sa to premietne do vysledku -- ale to sa stava v minime pripadov
import datetime

df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.loc[df['score_home'] > df['score_away'], 'result'] = 'home'
df.loc[df['score_home'] < df['score_away'], 'result'] = 'away'
df.loc[df['win_periods_home'] + df['draw_periods'] + df['win_periods_away'] >= 4, 'result'] = 'draw'

In [ ]:
def season(x):

  if x >= 83430 and x <= 83699:
    return "2015/2016"
  elif x >= 87717 and x <= 87986:
    return "2016/2017"
  elif x >= 96815 and x <= 97084:
    return "2017/2018"
  elif x >= 101458 and x <= 101787:
    return "2018/2019"
  else:
    return "2019/2020"

df['season'] = df['id'].apply(season)

In [ ]:
df

      Unnamed: 0      id  game_number  ... faceoff_away result     season
0              0   83430            1  ...       0.0000   home  2015/2016
1              1   83431            2  ...       0.0000   home  2015/2016
2              2   83432            3  ...       0.0000   away  2015/2016
3              3   83433            4  ...       0.0000   draw  2015/2016
4              4   83434            5  ...       0.0000   home  2015/2016
...          ...     ...          ...  ...          ...    ...        ...
1391        1391  110103          358  ...       0.4426   away  2019/2020
1392        1392  110105          360  ...       0.4464   home  2019/2020
1393        1393  110106          361  ...       0.0000   draw  2019/2020
1394        1394  110107          362  ...       0.4107   home  2019/2020
1395        1395  110108          363  ...       0.0000   draw  2019/2020

[1396 rows x 25 columns]

In [ ]:
df.loc[ (df['home'] == 'HK Poprad, s.r.o.') & (df['away'] == 'HKM a.s. Zvolen'),:]

     Unnamed: 0     id  game_number  ... faceoff_away result     season
0             0  83430            1  ...          0.0   home  2015/2016
89           89  83520           91  ...          0.0   away  2015/2016
179         179  83610          181  ...          0.0   draw  2015/2016
292         292  87749           33  ...          0.0   away  2016/2017
343         343  87839          123  ...          0.0   home  2016/2017
431         431  87929          213  ...          0.0   away  2016/2017

[6 rows x 25 columns]

In [ ]:
df['home'] == 'HK Poprad, s.r.o.' and df['away'] == 'HKM a.s. Zvolen'

ValueError: ignored

0

In [ ]:
l = [[1, 2, 3,4], [1, None, 4,5], [2, 1, 3,5], [1, 2, 2,5], [1, 2, 2,5], [1, 2, 2,5]]
df = pd.DataFrame(l, columns=["a", "b", "c","d"])
df

   a    b  c  d
0  1  2.0  3  4
1  1  NaN  4  5
2  2  1.0  3  5
3  1  2.0  2  5
4  1  2.0  2  5
5  1  2.0  2  5

In [ ]:
df.groupby(['a']).shift(fill_value=0)

   a    b  c  d
0  0  0.0  0  0
1  1  2.0  3  4
2  0  0.0  0  0
3  1  NaN  4  5
4  1  2.0  2  5
5  1  2.0  2  5

In [ ]:
df['skuska'] = df.groupby(["a"])['c'].rolling(5, min_periods=1).mean().values
df

   a    b  c  d  skuska
0  1  2.0  3  4    3.00
1  1  NaN  4  5    3.50
2  2  1.0  3  5    3.00
3  1  2.0  2  5    2.75
4  1  2.0  2  5    2.60
5  1  2.0  2  5    3.00

In [ ]:
df['skuska'] = df.groupby(["a"])['skuska'].shift(fill_value=0)
df

   a    b  c  d  skuska
0  1  2.0  3  4    0.00
1  1  NaN  4  5    3.00
2  2  1.0  3  5    0.00
3  1  2.0  2  5    3.50
4  1  2.0  2  5    2.75
5  1  2.0  2  5    2.60

In [ ]:
df['skuska'] = df.groupby(["a"])['skuska'].shift(fill_value=0)
df

KeyError: ignored